@import "fonts/font-awesome";
@import "fonts";
@import "variables";
@import "mixins";


body {
    margin: 0;
    background: #fff;
    color: $brandBlack;
    font-family: $sans-serif;
    a {
      color: $brandOrange;
      text-decoration: none;
      &:hover, &:focus, &:active {
        color: $brandGray;
        text-decoration: none;
        //font-weight: 700;
      }
    }
    .clearfix:after {
       content: " "; /* Older browser do not support empty content */
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
    .container {
      width: 100%;
      max-width: 1170px;
      padding: 0 20px;
      margin: 0 auto;
      display: block;
    }
    header {
      background-color: $brandBlue;
      color: $brandWhite;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      p {
        margin: 0;
      }
      nav {
        width: 100%;
        max-width: 1170px;
        margin: 20px auto;
        position: relative;
        .logo {
          font-family: $serif;
          font-size: 44px;
        }
        .main-menu {
          padding: 0 40px;
        }
        div {
          display: inline-block;
          vertical-align: middle;
          ul {
            list-style-type: none;
            padding: 0;
            li {
              display: inline-block;
              //padding: 0 20px;
              a {
                background-color: $brandBlue;
                color: white;
                padding: 5px 20px;
                &:hover {
                  color: $brandBlueLight;
                }
              }
            }
          }
        }
        .side-menu {
          position: absolute;
          right: 0;
          top: calc(50% - 18px);
          &-search {
            input {
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              margin-right: -5px;
            }
            .btn-search {
              position: relative;
              width: 35px;
              input[type=submit] {
                width: 100%;
                cursor: pointer;
                margin: 0;
                background: white url('../img/lupa.png') no-repeat center center;
                background-size: 16px;
              }
            }
          }
        }
      }
    }
    article {
      padding: 30px 20px;
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      margin-top: 93px;
      .content {
        text-align: center;
      }
      .lead {
        @include lead;
      }
      .date {
        font-style: italic;
        color: $brandBlueMedium;
      }
      .author {
        font-style: italic;
        text-align: right;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: $serif;
        text-align: left;
      }
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 28px;
      }
      h4 {
        font-size: 24px;
      }
      h5 {
        font-size: 20px;
      }
      h6 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
        text-align: left;
      }
      .news {
        text-align: left;
        margin: 0 -20px;
        .title {
          margin-bottom: 10px;
        }
        .btn-back {
          @include btn;
          float: none;
          i {
            padding: 0 20px 0 0;
          }
        }
      }
      .course {
        text-align: left;
        width: 70%;
        .lead {
          width: 100%;
        }
        .lectures, .exercises {
           width: 49.7%;
           display: inline-block;
          vertical-align: top;
          .btn-more {
            @include btn;
            background-color: white;
            color: $brandOrange;
          }
        }
        .btn-back {
          @include btn;
          float: none;
          i {
            padding: 0 20px 0 0;
          }
        }

      }
      .lecture {
        .lead {
          width: 100%;
        }
        .btn {
          @include btn;
          float: none;
        }
        .btn-back {
          i {
            padding: 0 20px 0 0;
          }
        }
        .btn-more {
          i {
            padding: 0 0 0 20px;
          }
        }
      }
      .exercises {
        width: 70%;
        display: inline-block;
        .btn {
          @include btn;
          float: none;
        }
        form {
          //background-color: $brandGray;
          border: 1px solid $brandBlueLight;
          padding: 20px;
          input[type="submit"] {
            background-color: $brandBlue;
            text-transform: uppercase;
            color: white;
            border: none;
            display: block;
            margin: 20px 0 0 0;
            cursor: pointer;
            @include hover;
          }
          input[type="checkbox"] {
            display: none;
          }
          input[type="checkbox"] + label span {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin: -1px 10px 0 20px;
            vertical-align: middle;
          //  background: url('../img/checkbox-checked.png') left top no-repeat;
            cursor: pointer;
            border: 1px solid $brandBlueLight;
          }
          input[type="checkbox"]:checked + label span {
            background:url('../img/checkbox-checked.png') -19px top no-repeat;
            background-position: center center;
            background-size: contain;
          }
        }
      }
      .exercise {
        width: 70%;
        .properties p {
          font-size: 16px;
          font-weight: 600;
        }
        .tags {
          text-align: left;
          p {
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
            font-weight: 400;
            font-size: 14px;
            background-color: $brandOrange;
            a {
              color: white;
            }
          }
        }
        &-solution {
          h3 {
            background-color: $brandBlueLight;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            i {
              float: right;
              padding-top: 3px;
            }
          }
          p {
            display: none;
          }
        }
        .display {
          display: block;
        }
      }
      .student-form {
        width: 100%;
        max-width: 700px;
        padding: 20px;
        margin: 0 auto;
        input[type="submit"] {
          background-color: $brandBlue;
          text-transform: uppercase;
          color: white;
          border: none;
          display: block;
          margin: 20px auto;
          cursor: pointer;
          @include hover;
        }
      }
      .list {
        width: 70%;
        display: inline-block;
        .lead {
          width: 100%;
        }
        .list-item {
          @include list;
          text-align: left;
          .btn {
            float: none;
          }
        }
      }
      aside {
        display: inline-block;
        width: 29%;
        vertical-align: top;
        //position: fixed;
        ul {
          padding: 0 0 50px 50px;
          list-style-type: none;
          li {
            background-color: $brandOrange;
            color: white;
            padding: 10px 20px;
            margin-bottom: 1px;
            &:hover, &:active, &:focus {
              opacity: 0.7;
            }
          }
        }
      }
      .box-item {
        @include box;
      }
      .single-page {
        @include single-page;
      }
    }
    footer {
      width: 100%;
      border-top: 1px solid $brandOrange;
      .container {
        padding: 20px;
      }
      div {
        display: inline-block;
        vertical-align: top;
      }
      .sitemap {
        width: 66%;
        div {
          width: 49.7%;
          ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {

            }
          }
        }
      }
      .copyrights {
        width: 33%;
      }
    }
    form {
      input, select {
        border: 1px solid $brandBlueLight;
        outline: none;
        padding: 10px;
        margin: 0 20px 0 10px;
      }
      .form-tags {
        margin-top: 20px;
        input {
          margin: 0 0 0 20px;
        }
      }
    }
  .form-group {
    display: block;
    padding-bottom: 20px;
    div {
      display: inline-block;
      width: 49.7%;
      min-width: 340px;
      position: relative;
      height: 37px;
      input, select {
        width: 220px;
        margin: 0;
        position: absolute;
        right: 20px;
      }
      select {
        width: 242px;
      }
      label {
        display: inline-block;
        position: absolute;
        left: 0;
        top: calc(50% - 11px);
      }
    }
  }
  .btn {
    @include btn;
    float: none;
  }
  .delete {
    .lead {
      border-left: none;
      padding: 0;
    }
    .btn-back {
      float: none;
      background-color: $brandBlue;
      i {
        padding: 0 20px 0 0;
      }
    }
    .btn-delete {
      background-color: $brandRed;
    }
  }
}
