@import "fonts/font-awesome";
@import "fonts";
@import "variables";
@import "mixins";


.default {
    margin: 0;
    background: #fff;
    color: $brandBlack;
    font-family: $sans-serif;
    a {
      color: $brandOrange;
      text-decoration: none;
      &:hover, &:focus, &:active {
        color: $brandGray;
        text-decoration: none;
        //font-weight: 700;
      }
    }
    .alert {
      margin-top: 20px;
    }
    .clearfix:after {
       content: " "; /* Older browser do not support empty content */
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
    .container {
      width: 100%;
      max-width: 1170px;
      padding: 0 20px;
      margin: 0 auto;
      display: block;
    }

    .action-buttons, .action-button {
      margin: 0 0 30px 0;
      a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        min-width: 100px;
        background-color: $brandBlueMedium;
        color: white;
        text-transform: uppercase;
        text-align: center;
        &:hover, &:active, &:focus {
          opacity: 0.7;
        }
      }
    }

    .pagination {
      width: 100%;
      text-align: center;
      ul{
        padding: 0;
        margin-top: 50px;
        margin-bottom: 0;
        list-style-type: none;
        li {
          display: inline-block;
          margin: 2px;
          span, a {
            padding: 15px 20px;
            display: block;
            background-color: $brandBlue;
            color: white;
          }
          a {
            &:hover, &:active, &:focus {
              background-color: $brandBlueMedium;
              color: white;
            }
          }
        }
      }
    }
    header {
      background-color: $brandBlue;
      color: $brandWhite;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
      p {
        margin: 0;
      }
      .top-nav {
        width: 100%;
        max-width: 1170px;
        margin: 20px auto;
        position: relative;
        .logo {
          font-family: $sans-serif;
          font-size: 44px;
          display: inline-block;
          vertical-align: middle;
          font-weight: 700;
        }
        .side-menu {
          width: calc(100% - 400px);
          margin-left: 50px;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: 4px;
          &-search {
            form {
              position: relative;
              input {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                margin-right: -5px;
                width: 97%;
                border-radius: 20px;
              }
              .btn-search {
                position: absolute;
                top: 1px;
                right: 0;
                width: 35px;
                input[type=submit] {
                  width: 100%;
                  cursor: pointer;
                  margin: 0;
                  background: white url('../img/lupa.png') no-repeat center center;
                  background-size: 16px;
                  border: none;
                }
              }
            }
          }
        }
      }
      nav {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        position: relative;
        .main-menu {
        }
        div {
          display: block;
          vertical-align: middle;
          background-color: $brandBlue;

          ul {
            list-style-type: none;
            padding: 0;
            margin: 0 -20px;
            li {
              display: inline-block;
              width: 23.5%;
              &:first-of-type{
                margin: 0 0 0 20px;
              }
              &:last-of-type {
                margin: 0 20px 0 0;
              }
              a {
                background-color: $brandBlue;
                color: white;
                padding: 20px;
                display: block;
                text-align: center;
                font-size: 16px;
                text-transform: capitalize;
                &:hover {
                  color: white;
                  background-color: $brandBlueMedium;
                }
              }
            }
          }
        }
      }
    }
    article {
      padding: 30px 20px;
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      margin-top: 150px;
      margin-bottom: 50px;
      .new, .edit, .delete {
        margin: 0 !important;
        input {
          border-radius: 5px !important;
          &:hover, &:active, &:focus {
            border-color: $brandBlueMedium;
          }
        }
        label {
          display: inline-block;
          min-width: 100px;
          vertical-align: top;
          margin-top: 7px;
        }
        #cke_editor {
          display: inline-block;
        }
        input[type='submit'] {
          display: block;
          margin: 30px auto;
          min-width: 200px;
          background-color: $brandBlueMedium;
          border: none;
          color: white;
          cursor: pointer;
          text-transform: uppercase;
          &:hover, &:active, &:focus {
            opacity: 0.7;
          }
        }
        select {
          border-radius: 5px;
          &:hover, &:active, &:focus {
            border-color: $brandBlueMedium;
          }
        }
      }
      .home {
        .news {
          margin: 0;
          .content-news {
             margin: 0 -30px;
            .box-item {
              @include box();
            }
          }
        }
        .courses {
          .course-item {
            display: inline-block;
            width: 50%;
            max-width: 580px;
            min-width: 300px;
            .item-lead {
              color: $brandBlue;
            }
          }
        }
      }

      .content {
        text-align: center;
      }
      .lead {
        @include lead;
      }
      .date {
      }
      .author {
        font-style: italic;
        text-align: right;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: $sans-serif;
        text-align: left;
      }
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 28px;
      }
      h4 {
        font-size: 24px;
      }
      h5 {
        font-size: 20px;
      }
      h6 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
        text-align: left;
      }
      .news {
        text-align: left;
        margin: 0 -30px;
        .title {
          margin-bottom: 10px;
        }
        .btn-back {
          @include btn;
          float: none;
          i {
            padding: 0 20px 0 0;
          }
        }
      }
      .course {
        text-align: left;
        width: 70%;
        .lead {
          width: 100%;
        }
        .lectures, .exercises {
           width: 49.7%;
           display: inline-block;
          vertical-align: top;
          .btn-more {
            @include btn;
            background-color: white;
            color: $brandOrange;
          }
        }
        .btn-back {
          @include btn;
          float: none;
          i {
            padding: 0 20px 0 0;
          }
        }

      }
      .lecture {
        .lead {
          width: 100%;
        }
        .btn {
          @include btn;
          float: none;
        }
        .btn-back {
          i {
            padding: 0 20px 0 0;
          }
        }
        .btn-more {
          i {
            padding: 0 0 0 20px;
          }
        }
      }
      .exercises {
        width: 70%;
        display: inline-block;
        .btn {
          @include btn;
          float: none;
        }
        form {
          //background-color: $brandGray;
          border: 1px solid $brandBlueLight;
          padding: 20px;
          border-radius: 5px;
          input[type="submit"] {
            background-color: $brandBlue;
            text-transform: uppercase;
            color: white;
            border: none;
            display: block;
            margin: 20px 0 0 0;
            cursor: pointer;
            @include hover;
          }
          input[type="checkbox"] {
           // display: none;
          }
          input[type="checkbox"] + label:before {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin: -1px 10px 0 20px;
            vertical-align: middle;
          //  background: url('../img/checkbox-checked.png') left top no-repeat;
            cursor: pointer;
            border: 1px solid $brandBlueLight;
          }
          input[type="checkbox"]:checked + label span {
            background:url('../img/checkbox-checked.png') -19px top no-repeat;
            background-position: center center;
            background-size: contain;
          }
        }
      }
      .exercise {
        width: 70%;
        .properties p {
          font-size: 16px;
          font-weight: 600;
        }
        .tags {
          text-align: left;
          p {
            display: inline-block;
            margin-right: 10px;
            padding: 10px 20px;
            font-weight: 400;
            font-size: 14px;
            background-color: $brandOrange;
            a {
              color: white;
            }
          }
        }
        &-solution {
          h3 {
            background-color: $brandBlueLight;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            i {
              float: right;
              padding-top: 3px;
            }
          }
          p {
            display: none;
          }
        }
        .display {
          display: block;
        }
      }
      .student-form {
        width: 100%;
        max-width: 700px;
        padding: 20px;
        margin: 0 auto;
        input[type="submit"] {
          background-color: $brandBlue;
          text-transform: uppercase;
          color: white;
          border: none;
          display: block;
          margin: 20px auto;
          cursor: pointer;
          @include hover;
        }
      }
      .list {
        width: 70%;
        display: inline-block;
        .lead {
          width: 100%;
        }
        .list-item {
          @include list;
          text-align: left;
          .btn {
            float: none;
          }
        }
      }
      aside {
        display: inline-block;
        width: 29%;
        vertical-align: top;
        //position: fixed;
        ul {
          padding: 0 0 50px 50px;
          list-style-type: none;
          li {
            background-color: $brandOrange;
            color: white;
            padding: 10px 20px;
            margin-bottom: 1px;
            &:hover, &:active, &:focus {
              opacity: 0.7;
            }
          }
        }
      }
      .box-item {
        @include box;
      }
      .single-page {
        @include single-page;
      }
    }
    footer {
      width: 100%;
      border-top: 1px solid $brandOrange;
      h4, h4 a {
        color: $brandBlue;
      }
      .container {
        padding: 20px;
      }
      div {
        display: inline-block;
        vertical-align: top;
      }
      .sitemap {
        width: 66%;
        div {
          width: 49.7%;
          ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {

            }
          }
        }
      }
      .copyrights {
        width: 33%;
      }
    }
    form {
      input, select {
        border: 1px solid $brandBlueLight;
        outline: none;
        padding: 10px;
        margin: 0 20px 0 10px;
      }
      .form-tags {
        margin-top: 20px;
        input {
          margin: 0 0 0 20px;
        }
      }
    }
  .editor {
    label, div, p {
      vertical-align: top;
      margin-top: 5px;
    }
  }
  .form-group {
    display: block;
    padding-bottom: 20px;
    #cke_editor, .cke_inner, .cke_reset {
      display: block;
      width: 100%;
      position: static;
      height: auto;
    }
    #cke_editor {
      width: calc(100% - 150px);
    }
    div {
      display: inline-block;
      width: 49.7%;
      min-width: 340px;
      position: relative;
      height: 37px;
      input, select {
        width: 220px;
        margin: 0;
        position: absolute;
        right: 20px;
      }
      select {
        width: 242px;
      }
      label {
        display: inline-block;
        position: absolute;
        left: 0;
        top: calc(50% - 11px);
      }
    }
  }
  .btn {
    @include btn;
    float: none;
  }
  .delete {
    .lead {
      border-left: none;
      padding: 0;
    }
    .btn-back {
      float: none;
      background-color: $brandBlue;
      i {
        padding: 0 20px 0 0;
      }
    }
    .btn-delete {
      background-color: $brandRed;
    }
  }
}

.admin {
  #wrapper {
    background-color: $brandBlue;
  }
  font-family: $sans-serif;
  .alert {
    margin-top: 20px;
  }
  .clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .navbar-default {
    background-color: $brandBlue;
    color: white;
    a {
      color: white;
      &:hover, &:active, &:focus {
        color: white;
        background-color: $brandOrange;
      }
    }
  }

  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: $brandOrange;
  }

  .dropdown-menu {
    margin: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    background-color: $brandOrange;
    color: white;
    //border: 1px solid $brandBlue;
    border: 0;
    li a {
      color: white;
      padding: 10px;
      &:hover, &:active, &:focus {
        color: white;
        background-color: $brandBlue;
      }
    }
    .divider {
      margin: 0;
    }
  }

  .btn {
    border-radius: 0;
    padding: 7px 25px;
    text-transform: uppercase;
  }

  .btn-primary {
    background-color: $brandBlueMedium;
    border: 1px solid $brandBlueMedium;
  }

  .btn-danger {
    background-color: $brandRed;
    border: 1px solid $brandRed;
  }

  .list-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-top: 20px;
    &:first-of-type {
      border-top: 1px solid #eee;
    }
  }

  .lead {
    font-size: 20px;
    font-weight: 300;
  }

  .custom-search-form {
    input, span {
      display: table-cell;
    }
    span {
      width: 40px;
      max-width: 40px;
      input {
        width: 100%;
        border-bottom-right-radius: 5px !important;
        border-top-right-radius: 5px !important;
      }
    }
    input {
      width: calc(100% - 40px);
    }
    .btn {
      padding: 6px 0;
    }
  }

  .pagination {
    width: 100%;
    text-align: center;
    ul{
      padding: 0;
      margin-top: 50px;
      margin-bottom: 0;
      list-style-type: none;
      li {
        display: inline-block;
        margin: 2px;
        span, a {
          padding: 15px 20px;
          display: block;
          background-color: $brandBlue;
          color: white;
        }
        a {
          &:hover, &:active, &:focus {
            background-color: $brandBlueMedium;
            color: white;
          }
        }
      }
      li.active > span {
        background-color: $brandBlueMedium;
      }
    }
  }
}