@mixin btn {
  padding: 10px 25px;
  background-color: $brandOrange;
  color: $brandWhite;
  display: inline-block;
  float: right;
  text-transform: uppercase;
  i {
    padding-left: 10px;
  }
  &:hover, &:active, &:focus {
    opacity: 0.7;
  }
}

@mixin lead {
  width: 70%;
  font-size: 20px;
  border-left: 5px solid $brandOrange;
  padding-left: 20px;
}

@mixin box {
  width: 33%;
  max-width: 345px;
  min-width: 250px;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  .title {
    margin-bottom: 10px;
  }
  .date {
    font-style: italic;
    color: $brandBlueMedium;
  }
  .btn {
    @include btn;
  }
}

@mixin list {
  padding: 10px 0;
  .btn {
    @include btn;
  }
}

@mixin single-page {
  max-width: 800px;
  margin: 0 auto;
  .info, .photo {
    width: 49.7%;
    display: inline-block;
    vertical-align: top;
    span {
      font-weight: 600;
      color: $brandBlueMedium;
    }
    h2 {
      margin-top: 0;
    }
  }
  .photo img {
    max-height: 400px;
  }
}
