/**
* Colors
*/

$brandWhite : #F1F1F1;
$brandBlue : #017789;
$brandBlack : #1B1B1B;
$brandOrange : #ED6C21;
$brandBlueMedium : #499CA9;
$brandBlueLight : #98C7CE;
$brandGray : #8A8889;
$brandRed : #C60313;
$brandGreen : #C5DF52;

  /**
  * Fonts
  */

$sans-serif : 'Roboto', sans-serif;;
$serif : 'Lora', serif;
