/**
* Colors
*/

$brandWhite : #F1F1F1;
$brandBlue : #3c3e42;
$brandBlack : #1B1B1B;
$brandOrange : #ED6C21;
$brandBlueMedium : #57bdc7;
$brandBlueLight : #9ba6b5;
$brandGray : #8A8889;
$brandRed : #C60313;
$brandGreen : #C5DF52;

  /**
  * Fonts
  */

$sans-serif : 'Lato', sans-serif;;
